@{
}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link logo-switch">
        <img src="/flavicon.ico" alt="AdminLTE Docs Logo Large" class="brand-image-xs logo-xl" style="left: 12px">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
@*         <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="lib/admin-lte/img/user1-128x128.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
        </div> *@
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a class="nav-link active">
                        <i class="fa-regular fa-credit-card"></i>
                        <p>
                            Expenses
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Transactions" asp-action="Index" class="nav-link">
                                <i class="fa-solid fa-wallet"></i>
                                <p>Transactions</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Category" asp-action="Index" class="nav-link">
                                <i class="fa-solid fa-list"></i>
                                <p>Categories</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a class="nav-link active">
                        <i class="fa-solid fa-user"></i>
                        <p>
                            Account Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Update" class="nav-link">
                                <i class="fa-solid fa-user-gear"></i>
                                <p>Update Account</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="ResetPassword"  class="nav-link">
                                <i class="fa-solid fa-arrow-rotate-left"></i>
                                <p>Reset Password</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        dockBar = document.getElementById('sidebar').ej2_instances[0];
        document.getElementById('sidebar-toggler').onclick = function () {
            dockBar.toggle();
        };
    });
</script>