@model ExpenseTracker.Models.Transaction


<div class="row">
    <div class="col-md-7">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3 text-black">
                <input asp-for="Category" class="form-control" autocomplete="username" aria-required="true" placeholder="@Model.Category"/>
                <label asp-for="Category" class="form-label">Transaction Category</label>
            </div>
            <div class="form-floating mb-3 text-black">
                <input asp-for="Amount" class="form-control" required placeholder="@Model.Amount"/>
                <label asp-for="Amount" class="form-label">Transaction Amount</label>
            </div>
            <div class="form-floating mb-3 text-black">
                <input asp-for="Note" class="form-control" required placeholder="@Model.Note"/>
                <label asp-for="Note" class="form-label">Transaction Note</label>
            </div>
            <div class="form-floating mb-3 text-black">
                <input asp-for="Date" class="form-control" type="date" required placeholder="@Model.Date"/>
                <label asp-for="Date" class="form-label">Transaction Date</label>
            </div>
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Update Transaction</button>

        </form>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
