html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Inter";
}

body {
  margin-bottom: 60px;
  background-color: #ffffff;
  color: black;
  overflow:hidden;
}

.main-content{
    margin-left: 290px;
    overflow-y:auto;
    height: 90vh;
}


